* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utilities */
:root {
    --list-editorial: #45ABEA;
    --list-goals: #9C72E4;
    --list-recruiting: #64C0A9;
    --list-mobile: #F29E33;
    --list-website: #D863A1;
    --list-sales: #B0C926;
    --bg: #F6F8F9;
    --text: #444851;
    --add-section: #C5CBD0;
    --add-task: #47ADF1;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
}

/* header with logo */
header {
    color: #000;
    background-color: #fff;
}

#icon_logo {
    margin: 1rem 0.75rem 1rem 2rem;
}

#logo {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    display: inline-block;
}

/* main box */
#main_box {
    width: 785px;
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
}

#add {
    border-bottom: 1px solid #F6F8F9;
    padding: 1rem 2rem;
}

button {
    border-radius: 5px;
    border-width: 0rem;
    appearance: none;
    padding: 8px;
    margin: 5px;
}

#task {
    background-color: var(--add-task);
    color: #fff;
}

#section {
    background-color: white;
    color: var(--add-section);
    border: 1px solid #C5CBD0;
}

/* task list */
#task_list {
    margin: 1.5rem 2rem;
}

h2 {
    font-size: 1.3rem;
}

.task {
    margin: 20px 0;
}

.correct {
    border-radius: 50%;
    border: solid 1px green;
    height: 20px;
    width: 20px;
    color: green;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
}

.uncorrect {
    border-radius: 50%;
    border: solid 1px red;
    height: 20px;
    width: 20px;
    color: red;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
}

.category {
    border-radius: 15px;
    padding: 8px 15px;
    margin-left: 5px;
    color: #fff;
    font-size: 0.7rem;
}

.editorial {
    background-color: var(--list-editorial);
}

.mobile {
    background-color: var(--list-mobile);
}

.recruiting {
    background-color: var(--list-recruiting);
}

.goals {
    background-color: var(--list-goals);
}

.website {
    background-color: var(--list-website);
}

.sales {
    background-color: var(--list-sales);
}